<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="allLabels">
  <%= image_tag @user.graffiti_image.url %>
</div>

<%= render 'user_games' %>

<%= render 'edit_show_user' %>

<%= link_to "Back", :back %>
