<% @bets = Bet.where("game_id = ?", game) %>

<% if @bets.size > 0 %>
  <div class="container" style="background: lightblue;">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Betters</th>
          <th>Winner</th>
          <th>Game Status</th>
          <th>Bet</th>
        </tr>
      </thead>

      <tbody>
        <% @bets.each do |bet| %>
          <tr>
            <td><%= bet.user.name %> <%= bet.user_two.name %> </td>
            <td><%= bet.value %></td>
            <td><%= bet.status %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
    <%= render 'games/no_games' %>
<% end %>
    
