<% @bets = Bet.where("game_id = ?", game) %>

<% if @bets.size > 0 %>
  <div class="container">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Betters</th>
          <th>Winner</th>
          <th>Game Status</th>
          <th>Bet</th>
        </tr>
      </thead>

      <tbody>
        <% @bets.each do |bet| %>
          <tr>
            <td>
              <% if bet.user != nil %>
                <%= bet.user.name %>
              <% else %>
                ?
              <% end %>
                vs
              <% if bet.user_two != nil %>
                <%= bet.user_two.name %> 
              <% else %>
                ?
              <% end %>
            </td>
            <td><%= bet.value %></td>
            <td><%= bet.status %></td>
            <% if bet.status == "start" %>
              <% if bet.user_id == current_user.id || bet.user_two_id == current_user.id %>
                <td><%= link_to 'Cancel Game', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                <td><%= link_to 'Bet', edit_bet_path(bet) %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
    <%= render 'games/no_games' %>
<% end %>
    
