
<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @mybet == "team_one" %>
    <% betted_here = current_user.id %>
  <% elsif @mybet == "team_two" %>
    <% actually_betted_here = current_user.id %> 
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, :value => betted_here %>
  </div>
  <div class="field">
    <%= f.label :user_two_id %><br>
    <%= f.number_field :user_two_id, :value => actually_betted_here %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status, :value => "start" %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id, :value => @game.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
