<div>
  <p id="notice"><%= notice %></p>
  <h1>Listing Bets</h1>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>User two</th>
        <th>Value</th>
        <th>Status</th>
        <th>Game</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @bets.each do |bet| %>

        <tr>
          <% if bet.user_id != nil %>
            <td><%= bet.user_id %> <%= bet.user.email %> </td>
          <% end %>
          <% if bet.user_two_id != nil %>
            <td><%= bet.user_two_id %> <%= bet.user_two.email %>  </td>
          <% end %>
          <td><%= bet.value %></td>
          <td><%= bet.status %></td>
          <td><%= bet.game_id %> <%= bet.game.team_one %> VS <%= bet.game.team_two %></td>
          
          <% if bet.status == "start" %>
            <% if bet.user_id == current_user.id || bet.user_two_id == current_user.id %>
              <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td><%= link_to 'Bet', edit_bet_path(bet) %></td>
            <% end %>
          <% end %>

          <td><%= link_to 'Show', bet %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Bet', new_bet_path %>

</div>

