<div class="container "> 
  <p id="notice"><%= notice %></p>
  <h2></h2>
  <div class="panel panel-default">
    <div class="panel-heading"><%= @bet.game.team_one %> - <%= @bet.game.team_two %></div>
    <div class="panel-body">
        
        <% if @bet.user != nil %>
          <p>
            <strong>Better One:</strong>
            <%= @bet.user.name %> on <%= @bet.game.team_one %>
          </p>
        <% end %>
        

        <% if @bet.user_two != nil %>
          <p>
            <strong>Better Two:</strong>
            <%= @bet.user_two.name %> on <%= @bet.game.team_two %>
          </p>
        <% end %>
        

        <p>
          <strong>Bet on this game:</strong>
          <%= @bet.value %>
        </p>

        <p>
          <strong>Bet Status:</strong>
          <%= @bet.status %>
        </p>

        <p>
          <strong>Bet Winner:</strong>

            <% if @bet.game.winner == "1" %>
              <%= @bet.user.name %> - <%= @bet.game.team_one %>
            <% elsif @bet.game.winner == "2" %>
              <%= @bet.user_two.name %> - <%= @bet.game.team_two %>
            <% else %>
               Unfinished 
            <% end %>

        </p>

        <!-- <p>
          <strong>Game:</strong>
          <%= @bet.game_id %>
        </p> -->

    </div>
  </div>
  
  <div style="display: <%= is_admin ? "block" : "none"; %>">
    <%= link_to 'Edit', edit_bet_path(@bet) %>
  </div>
  <%= link_to 'Back', bets_path %>

</div>

<div class="container">

</div>



