<div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>User:</strong>
      <%= @bet.user_id %>
    </p>

    <p>
      <strong>User two:</strong>
      <%= @bet.user_two_id %>
    </p>

    <p>
      <strong>Value:</strong>
      <%= @bet.value %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @bet.status %>
    </p>

    <p>
      <strong>Game:</strong>
      <%= @bet.game_id %>
    </p>

    <%= link_to 'Edit', edit_bet_path(@bet) %> |
    <%= link_to 'Back', bets_path %> 
</div>



