<h1>Listing Users</h1>

<!-- For ease i'm just using a JQuery version hosted by JQuery- you can download any version and link to it locally -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
 
<script>
  var refreshId = setInterval(function()
  {
       $('#responsecontainer').fadeOut("slow").load('response.php').fadeIn("slow");

  }, 100);
</script>
</head>
<body>
 
<div id="responsecontainer">
  <% time = Time.now %>
  <%= Time.now.strftime("%H:%M:%S") %>
  <%= time.strftime("%m/%d/%Y") %>
</div>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Money</th>
      <th>Nationality</th>
      <th>Notes</th>
      <th>Picture</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.money %></td>
        <td><%= user.nationality %></td>
        <td><%= user.notes %></td>
        <td><%= user.picture %></td>
        <!-- <td><%= user.graffiti_image.url %></td>
        <td><%= image_tag user.graffiti_image.url %></td> -->
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<br>

<%= link_to 'New User', new_user_path %>
