<p id="notice"><%= notice %></p>
<%= current_user.id %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Money:</strong>
  <%= @user.money %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @user.nationality %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @user.notes %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @user.picture %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @user.graffiti_image.url %>
</p>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User two</th>
      <th>Value</th>
      <th>Status</th>
      <th>Game</th>
      <th>Winner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
  <% @my_bets.each do |bet| %>

    <tr>
      <% if bet.user_id != nil %>
        <td><%= bet.user_id %> <%= bet.user.email %> </td>
      <% end %>
      <% if bet.user_two_id != nil %>
        <td><%= bet.user_two_id %> <%= bet.user_two.email %>  </td>
      <% end %>
      <td><%= bet.value %></td>
      <td><%= bet.status %></td>
      <td><%= bet.game_id %> <%= bet.game.team_one %> VS <%= bet.game.team_two %></td>

      <% if bet.status == "start" %>
          <% if bet.user_id == current_user.id || bet.user_two_id == current_user.id %>
            <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      <% end %>

      <td><%= bet.game.winner %></td>

      <% if bet.game.winner != "" %>
        <% if bet.game.winner == "1" && current_user.id == bet.user_id %>
            <td><%= link_to 'Claim', bet %></td>
        <% end %>
        <% if bet.game.winner == "2" && current_user.id == bet.user_two_id %>
            <td><%= link_to 'Claim', bet %></td>
        <% end %>
      <% end %>
      
      <td><%= link_to 'Show', bet %></td>
      
    </tr>
    
  <% end %>
</tbody>
</table>

<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
