<div class="container body  text-center" id="profile">
  <p id="notice"><%= notice %></p>

    <div class="row">

        <div class="col-sm-4 col-md-6 ">
            <blockquote>
                <p><h3> <%= @user.name.capitalize %> </h3></p> <small><cite title="Source Title"><%= @user.nationality.capitalize %> <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
                <p> 
                  <i class="glyphicon glyphicon-envelope"></i> <%= @user.email %>
                </p>
                    
                <p> <%= @user.notes %> </p>
                <p> <%= @user.money %> tokens left </p>
                
                
        </div>
        <div class="col-sm-4 col-md-4">
        </div>
        <div class="col-sm-4 col-md-4">
            <img src="<%= @user.graffiti_image.url %>"
            alt="" class="img-rounded img-responsive" />
        </div>
      </div>
      <div style="display: <%= is_admin ? "block" : "none"; %> ">
        <p> <%= link_to 'Edit', edit_user_path(@user) %> </p>
      </div>
      <div>
        <p> <%= link_to 'Back', users_path %> </p>
      </div>
      
</div>



