<td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>

<% if @games.size > 0 %>
  <div class="container">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Game</th>
          <th>Winner</th>
          <th>Finish Time</th>
        </tr>
      </thead>

      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td> 
                <td><%= link_to game.team_one + ' vs ' + game.team_two, game_path(game) %></td>
            </td>
            <% if game.winner == "1" %>
              <td> <%= game.team_one %></td>
            <% elsif game.winner == "2" %>
              <td> <%= game.team_two %></td>
            <% else %>
              <td> Unfinished </td>
            <% end %>
            <td><%= game.date %>  <%= game.finish_time %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <%= render 'no_games' %>
  <% end %>
