<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  ---------------
  <br>
   
  <% @this_game_bets = Bet.where("game_id = ?", @game.id) %>

  <% @this_game_bets.each do |bet| %>
  
        <% if bet.user_id %>
          user_id: <%= bet.user_id %> <br>
          user.email: <%= bet.user.email %> <br>
        <% end %>

        <% if bet.user_two_id %>
          user_two_id: <%= bet.user_two_id %> <br>
          user_two_email: <%= bet.user_two.name %> <br>
        <% end %>   
            
        bet.value: <%= bet.value %> <br> 
        bet.status: <%= bet.status %> <br>
        bet.game_id: <%= bet.game_id %> <br>
        teams: <%= bet.game.team_one %> VS <%= bet.game.team_two %> <br>
      
  <% end %>

  <br>
  ---------------
  <br>
  <div class="field">
    <%= f.label :team_one %><br>
    <%= f.text_field :team_one %>
  </div>
  <div class="field">
    <%= f.label :team_two %><br>
    <%= f.text_field :team_two %>
  </div>
  <div class="field">
    <%= f.label :winner %><br>
    <%= f.text_field :winner %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  
  <div class="field">
    <%= f.label :finish_time %><br>
    <%= f.number_field :finish_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
