<% if @games_to_bet.size > 0 %>

  <div class="container">
    <% @games_to_bet.each do |game| %>
      <table class="table table-hover">
        <thead>
          <tr>
          <th>Game</th>
          <th>Finish Time</th>
          </tr>
        </thead>

        <tbody>
            <tr>
              
              <td>
                <%= link_to game.team_one, {:controller => "bets", :action => "new", :game => game.id, :team => "team_one"}%>
                vs
                <%= link_to game.team_two, {:controller => "bets", :action => "new", :game => game.id, :team => "team_two" }%>
                </td>
                <td><%= game.date %>  <%= game.finish_time %></td>
                <td> <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
                <td>
                  <button data-toggle="collapse" data-target="#demo">Bets on game</button>
                </td>
                </tr>
                
        </tbody>
      </table>
      <div id="demo" class="collapse">
          <%= render :partial => 'bets/bets_per_game', :locals => {:game => game.id} %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render 'no_games' %>
<% end %>


