<div class="container">
  <p id="notice"><%= notice %></p>

  <h2>Bets</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Todays Games</a></li>
    <li><a data-toggle="tab" href="#menu1">Upcoming games</a></li>
    <li><a data-toggle="tab" href="#menu2">All Games</a></li>
    <li><a data-toggle="tab" href="#menu3">All Betters</a></li>

  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <%= render 'todays_games' %>
    </div>
    <div id="menu1" class="tab-pane fade">
        <%= render 'ucoming_games' %>
    </div>
    <div id="menu2" class="tab-pane fade">
        <%= render 'all_games' %>
    </div>
    <div id="menu3" class="tab-pane fade">
        <%= render 'all_users' %>
    </div>
  </div>

  <div style="display: <%= is_admin ? "block" : "none"; %>">
    <%= link_to 'New Game', new_game_path %>
  </div>

</div>