<p id="notice"><%= notice %></p>

<h1>Todays Games</h1>

<%= render 'todays_games' %>

<h1>Upcoming games</h1>

<%= render 'ucoming_games' %>


<h1>All Games</h1>

<%= render 'all_games' %>

<br>

<br>

<div style="display: <%= is_admin ? "block" : "none"; %>">
  <%= link_to 'New Game', new_game_path %>
</div>
