<div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Team one:</strong>
      <%= @game.team_one %>
    </p>

    <p>
      <strong>Team two:</strong>
      <%= @game.team_two %>
    </p>

    <p>
      <strong>Winner:</strong>
      <%= @game.winner %>
      
    </p>

    <p>
      <strong>Date:</strong>
      <%= @game.date %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @game.time %>
    </p>

    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %>

</div>  

