  <!DOCTYPE html>
  <html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Slider - Start Bootstrap Template</title>
    <title>WDI 20 Project 2</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container menu">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if current_user %>
          <lable class="navbar-brand" href="#"><%= current_user.name %></lable>
          <% end %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li>
              <%= link_to "HOME", root_path %>
            </li>
            <li style="display: <%= is_admin ? "block" : "none"; %>">
              <%= link_to "PROJECT INFO", statics_myproject_path %>
            </li>
            <li>
              <%= link_to "ABOUT", statics_about_path %>
            </li>
            <li>
              <%= link_to "CONTACT", statics_contact_path %>
            </li>

            <% if current_user %>
              <li><%= link_to "PROFILE", edit_user_registration_path %></li>
              <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
              <li style="display: <%= is_admin ? "block" : "none"; %>">
                <%= link_to "NEW GAME", new_game_path %> 
              </li>
              <li><%= link_to "GAMES", games_path %></li>
              <li><%= link_to "BETS", bets_path %></li>
            <% else %>
              <li><%= link_to "SIGN IN", new_user_session_path %></li>
              <li><%= link_to "REGISTER", new_user_registration_path %></li>
            <% end %>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </nav>

      <!-- Page Content -->

        <div class="row">
          <div class="col-lg-12">
        <!-- <h1></h1>
          <p> </p> -->
          <%= yield %>
        </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
          <div class="row">
            <div class="col-lg-12">
              <p>Copyright &copy; Mishal WDI GA Studant</p>
            </div>
          </div>
          <!-- /.row -->
        </footer>
        <!-- /.container -->

        <!-- jQuery -->


        <!-- Script to Activate the Carousel -->
        <script>
          $('.carousel').carousel({
        interval: 5000 //changes the speed
        })
        </script>


  </body>

  </html>
