<!DOCTYPE html>
<html>
<head>
  <title>WDI 20 Project 2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
      <ul>
        <li><%= link_to "home", root_path %></li>
        <% if current_user %>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li style="display: <%= is_admin ? "block" : "none"; %>">
          <%= link_to "new_game", new_game_path %></li>
          <li><%= link_to "games", games_path %></li>
          <li><%= link_to "bets", bets_path %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
      </ul>
      
<div id="devise_msg">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<main>
  <div>
    <%= yield %>
  </div>
  <div>
  </div>
</main>
    <script type="text/javascript">
      
    </script>
</body>
</html>
